<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>

<body>
    <main>
        <h1>Jogadores</h1>
        <br>
        <br>
        Quantidade de Jogadores: {{jogadores|length}} <br>
        <section class="section-card">
        {% if not jogadores %}
        Ops, você não tem nenhum cadastrado
        {% else %}
        <br>
        {% for jogadoress in jogadores %}
         
        <div>
            <div>
               
                Nome: {{jogadoress.nome}}<br>
                Idade: {{jogadoress.idade}}<br>
                Posição: {{jogadoress.posicao}}<br>
                Numero: {{jogadoress.numero}}<br>
                Time: {{jogadoress.time}}<br>
                Nacionalidade: {{jogadoress.nacionalidade}}<br>
                <br>
                <button class= 'editar'><a href="{% url 'update' id=jogadoress.id %}">Editar</a></button>
                <button class= 'excluir'><a href="{% url 'delete' id=jogadoress.id %}">Excluir</a></button>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        </section> 

        <button class= 'cadastro-time'><a href="{% url 'create' %}">Cadastrar</a></button>

    </main>
</body>

</html>