<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Sports Website</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <h1>Bem-vindo ao site de esportes futebol</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'atletas' %}">Home</a></li>
            <li><a href="{% url 'jogador' %}">Jogadores</a></li>
            <li><a href="{% url 'times' %}">Times</a></li>
            
        </ul>
    </nav>

    <main>

        <h1>Jogadores</h1>

        <div class = "buton-cardastro">
            <button class= 'cadastro-time'><a href="{% url 'create' %}">Cadastrar</a></button>
        </div>

        <section class="section-card">
        {% if not jogadores %}
        Ops, você não tem nenhum cadastrado
        {% else %}
        <br>
        {% for jogadoress in jogadores %}
         
        <div>
            <div>
               
                Nome: {{jogadoress.nome}}<br>
                Idade: {{jogadoress.idade}}<br>
                Posição: {{jogadoress.posicao}}<br>
                Numero: {{jogadoress.numero}}<br>
                Time: {{jogadoress.time}}<br>
                Nacionalidade: {{jogadoress.nacionalidade}}<br>
                <br>
                <button class= 'editar'><a href="{% url 'update' id=jogadoress.id %}">Editar</a></button>
                <button class= 'excluir'><a href="{% url 'delete' id=jogadoress.id %}">Excluir</a></button>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        </section> 


    </main>
</body>

    {% include "partials/footer.html" %}

</html>