/* index */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

main {
    padding: 20px;
}


h2 {
    color: #333;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 250px;
}

/* cards times */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    /* width: 50%; */
    padding: 10px;
    margin: 10px;
}

.editar {
    background-color: rgba(60, 122, 209, 0.704);
}

.excluir {
    background-color: rgba(209, 60, 60, 0.704);
}

.cadastro-time {
    background-color: green;
}

.troywell-avia,
.troywell-caa {
    display: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.section-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-card div {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



/* Abaixo um estilo para fazer o título ficar pulando */
h1 {
    animation: pulando 1s infinite;
}