<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football Sports Website</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<style>

</style>

<body>
    <header>
        <h1>Bem-vindo ao site de esportes futebol</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'atletas' %}">Home</a></li>
            <li><a href="{% url 'jogador' %}">Jogadores</a></li>
            <li><a href="{% url 'times' %}">Times</a></li>
            
        </ul>
    </nav>

    <main>
        {% comment %} <section>
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc id ultrices ultricies, nisl nunc tincidunt nunc, id tincidunt nunc nisl id lectus. Sed vitae nunc auctor, aliquet nunc id, aliquam nunc. Sed id nunc auctor, aliquet nunc id, aliquam nunc.</p>
        </section> {% endcomment %}

        <h1>Fut Fut</h1>
        <br>
        <section class="section-card">
        <div>
        <a href="{% url 'jogador' %}"> <div class= contador > 
        {{ jogadores|length }} Jogadores Cadastrados</div><br>
        Click Para mas informações
        </a></div>
        <br>
        <br>
        <div>
        <a href="{% url 'times' %}"> <div class= contador > 
        {{ times|length }} Times Cadastrados</div><br>
        Click Para mas informações
        </a></div>
        
        </section>
      
    </main>

   {% include "partials/footer.html" %}

</body>
</html>
